@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&family=Tilt+Neon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&family=Tilt+Neon&display=swap");

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background: rgb(67, 69, 112);
  background: radial-gradient(circle,
      rgba(67, 69, 112, 1) 3%,
      rgba(35, 36, 57, 1) 60%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;

}



.container {
  max-width: 1300px;
  margin: 0 auto;
}

.header__container {
  width: 100%;
  height: 90px;
  background-color: #fff;
  -webkit-box-shadow: -7px 18px 8px -7px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: -7px 18px 8px -7px rgba(34, 60, 80, 0.2);
  border-radius: 10px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-top: 30px;
}

.header__logo a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

.header__logo a:hover {
  color: orange;
}

.header__ul {
  display: flex;
  margin-top: 30px;
  margin-left: -80px;
  gap: 20px;
  list-style: none;
}

.header__ul a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #000;
  text-decoration: none;
}

.header__form {
  margin-top: 20px;
}

.header__ul a:hover {
  color: orange;
}

.header__form {
  display: flex;
  gap: 20px;
}

.green__btn {
  width: 100px;
  height: 40px;
  border: solid 2px orange;
  border-radius: 5px;
  color: #000;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.green__btn:hover {
  background-color: orange;
}

.blue__btn {
  width: 180px;
  height: 40px;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: orange;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.blue__btn:hover {
  box-shadow: orange 0px 1px 2px 0px, orange 0px 2px 6px 2px;
}

.header__h1 {
  font-family: "Tilt Neon", sans-serif;
  background-image: linear-gradient(90deg,
      rgb(118, 167, 63) 0%,
      rgb(51, 143, 118) 40%,
      rgb(55, 141, 167) 50%,
      rgb(117, 152, 242) 70%,
      rgb(144, 118, 236) 100%);
  color: transparent;
  -webkit-background-clip: text;
  font-size: 64px;
  margin: 0px;
}

.header-main {
  margin-top: 150px;
}

.header__h2 {
  font-family: "Tilt Neon", sans-serif;
}

.header__p {
  font-size: 18px;
}

.header__main-btn {
  width: 300px;
  height: 60px;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  margin-top: 30px;
}

img {
  width: 100%;
  pointer-events: none;
  user-select: none;
}


/* HOME */

.home {
  display: grid;
  grid-template-columns: 45% 50%;
  place-items: center;
  gap: 50px;
  background: rgb(67, 69, 112);
  background: radial-gradient(circle,
      rgba(67, 69, 112, 1) 3%,
      rgba(35, 36, 57, 1) 60%);
  overflow: hidden;
  padding: 130px 80px;
}

.description {
  color: #fff;
  padding: 0 50px;
}

.description h1 {
  font-family: "Tilt Neon", sans-serif;
  font-size: clamp(3rem, 5vw, 4rem);
  line-height: 1.1;
  margin-bottom: 30px;
}

.gradient-text {
  font-family: "Tilt Neon", sans-serif;
  background-image: linear-gradient(90deg,
      rgb(118, 167, 63) 0%,
      rgb(51, 143, 118) 40%,
      rgb(55, 141, 167) 50%,
      rgb(117, 152, 242) 70%,
      rgb(144, 118, 236) 100%);
  color: transparent;
  background-size: contain;
  background-clip: text;
  -webkit-background-clip: text;
}

.description p {
  font-family: "Nunito", sans-serif;
  font-size: clamp(0.9rem, 3vw, 1.1rem);
  line-height: 1.5;
  margin-bottom: 30px;
}

#form {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  max-width: max-content;
  background: linear-gradient(90deg,
      rgb(118, 167, 63) 0%,
      rgb(51, 143, 118) 40%,
      rgb(55, 141, 167) 50%,
      rgb(117, 152, 242) 70%,
      rgb(144, 118, 236) 100%);
  background-size: 200%;
  background-position: left;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  border: 0;
  padding: 12px 16px;
  border-radius: 5px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5),
    inset 0px 2px 2px rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.btn:hover {
  background-position: right;
}

.users-color-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.item {
  max-width: 200px;
  aspect-ratio: 1/1;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5),
    inset 0px 2px 2px rgba(255, 255, 255, 0.2);
  animation: fadeIn 0.5s linear 1 forwards;
  animation-delay: calc(0.2s * var(--i));
  opacity: 0;
}

.item:nth-child(1) {
  background-color: #67d7e1;
  border-radius: 50% 50% 0 50%;
}

.item:nth-child(2) {
  border-radius: 50% 50% 0 0;
}

.item:nth-child(3) {
  background-color: #6cc164;
  border-radius: 50%;
}

.item:nth-child(4) {
  border-radius: 0 0 0 50%;
}

.item:nth-child(5) {
  border-radius: 0 50% 50% 0;
}

.item:nth-child(6) {
  background-color: #8071a8;
  border-radius: 0 50% 50% 50%;
}

.item:nth-child(7) {
  border-radius: 50% 50% 0 50%;
}

.item:nth-child(8) {
  background-color: #fe7519;
  border-radius: 50% 0 0 50%;
}

.item:nth-child(9) {
  background-color: #f5bec3;
  border-radius: 0 50% 50% 0;
}

.item:nth-child(10) {
  border-radius: 50%;
}

.item:nth-child(11) {
  background-color: #fcd659;
  border-radius: 50% 0 50% 50%;
}

.item:nth-child(12) {
  border-radius: 50% 0 0 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* SECTION - CARD CONTAINER */
@media (max-width: 1015px) {
  .home {
    grid-template-columns: 45% 50%;
    gap: 50px;
    padding: 140px 50px;
  }

}

@media (max-width: 865px) {
  .home {
    grid-template-columns: 45% 50%;
    gap: 60px;
    padding: 130px 70px;
  }

  .users-color-container {
    gap: 15px;
  }
}

@media (max-width: 815px) {
  .home {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "userscolorcontainer"
      "description";
    gap: 30px;
    padding: 90px 80px 70px;
  }

  .users-color-container {
    grid-area: userscolorcontainer;
    gap: 20px;
  }

  .description {
    grid-area: description;
    padding: 0;
    text-align: center;
  }
}

@media (max-width: 460px) {
  .home {
    gap: 0;
    padding: 30px 40px;
  }

}

.home__btn {
  width: 350px;
  height: 65px;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 25px;
  background-color: orange;
}

.home__btn:hover {
  color: #000;
}

.banner__block {
  width: 100%;
  height: 160px;
  background-color: #559b9a;
  margin: 0 auto;
  border-radius: 10px;

}

.banner__block_item {
  display: flex;
  justify-content: space-around;
  gap: 200px;
  padding: 10px;
}

.banner__block_left h1 {
  font-size: 50px;
}

.banner__block_left p {
  font-size: 25px;
}

.banner__block_center h1 {
  font-size: 50px;
}

.banner__block_center p {
  font-size: 25px;
}

.banner__block_right h1 {
  font-size: 50px;
}

.banner__block_right p {
  font-size: 25px;
}

/* после правки занести этот css */
.about__block {
  display: flex;
  justify-content: space-between;
  gap: 140px;
  align-items: center;
  padding-top: 100px;
  margin-bottom: 100px;
}

.about__block__left h1 {
  font-size: 36px;
  color: #fff;
}

.about__block__left p {
  max-width: 800px;
  font-size: 18px;
  color: #fff;
}

.about__block__left strong {
  font-size: 26px;
  color: #fff;
}

.about__block__left strong:hover {
  font-size: 26px;
  color: orange;
}

.about__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
}

.about__block__right p {
  max-width: 600px;
  font-size: 12px;
  color: #fff;
  text-align: center;
}

.about__item-green {
  width: 150px;
  height: 150px;
  border: 2px dashed rgb(255, 255, 255);
  border-radius: 5px;
}

.about__item-green img {
  width: 80px;
  margin-left: 33px;
  margin-top: 10px;
}

.about__item-yellow {
  width: 150px;
  height: 150px;
  border: 2px dashed rgb(255, 255, 255);
  border-radius: 5px;
}

.about__item-yellow img {
  width: 80px;
  margin-left: 33px;
  margin-top: 10px;
}

.about__item-blue {
  width: 150px;
  height: 150px;
  border: 2px dashed rgb(255, 255, 255);
  border-radius: 5px;
}

.about__item-blue img {
  width: 80px;
  margin-left: 33px;
  margin-top: 10px;
}

.about__item-orange {
  width: 150px;
  height: 150px;
  border: 2px dashed rgb(255, 255, 255);
  border-radius: 5px;
}

.about__item-orange img {
  width: 80px;
  margin-left: 33px;
  margin-top: 10px;
}

.option__h1 {
  font-size: 36px;
  color: #fff;
}

.option__block-orange {
  margin: 0 auto;
  width: 1300px;
  height: 160px;
  background-color: orange;
  border-radius: 20px;
  margin-top: 70px;
}

.block__option-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

.block__option-one h1 {
  font-size: 40px;
  margin-left: 20px;
}

.block__option-one p {
  font-size: 20px;
  margin-left: 20px;
}

.option__btn {
  width: 220px;
  height: 60px;
  border-radius: 10px;
  border: 2px solid #000;
  background-color: orange;
  color: #000;
  font-size: 16px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.option__btn a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.option__btn a:hover {
  color: #fff;
}

.option__content-block {
  display: flex;
  gap: 20px;
}

.option__content-blue {
  width: 890px;
  height: 460px;
  background-color: #67d7e1;
  border-radius: 20px;
  margin-top: 20px;
}

.option__content-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 20px;
}

.option__content-green {
  width: 400px;
  height: 220px;
  background-color: #B8EFCF;
  border-radius: 20px;
  margin-top: 20px;
}


.option__content-rose {
  width: 400px;
  height: 220px;
  background-color: #FFEEF6;
  border-radius: 20px;
  margin-top: 20px;
}

.option__content-yellow {
  width: 820px;
  height: 220px;
  background-color: #FFE38E;
  border-radius: 20px;
}



.option__content-green h1 {
  text-align: center;
  padding-top: 10px;
}

.option__content-blue {
  text-align: center;
  padding-top: 20px;
}

.option__content-green img {
  width: 150px;
  height: 150px;
  border-radius: 30px;
  margin-left: 30%;
  margin-top: 10px;
}

.vertical__block {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 30px;
}

.vertical__orange {
  display: flex;
  justify-content: space-between;
  width: 350px;
  height: 60px;
  font-size: 15px;
  background-color: #fe7519;
  border-radius: 10px;
  margin-left: 50px;
  padding: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.vertical__orange img {
  width: 80px;
}

.vertical__green {
  display: flex;
  justify-content: space-between;
  width: 350px;
  height: 60px;
  font-size: 15px;
  background-color: #6cc164;
  border-radius: 10px;
  margin-left: 50px;
  padding: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.vertical__green img {
  width: 80px;
}

.vertical__red {
  display: flex;
  justify-content: space-between;
  width: 350px;
  height: 60px;
  font-size: 15px;
  background-color: #FFEEF6;
  border-radius: 10px;
  margin-left: 50px;
  padding: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.vertical__red img {
  width: 80px;
}

.option__content-rose h2 {
  font-size: 20px;
  text-align: center;
  padding: 20px;
}

.option__content-yellow h2 {
  font-size: 20px;
  padding: 20px;
}

.reviews {
  margin-top: 100px;
}

.reviews__h1 {
  font-size: 40px;
  color: #fff;
}

.reviews__block {
  display: flex;
  gap: 20px;
  margin-top: 100px;
}

.reviews__block-items-one {
  width: 310px;
  height: 380px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: rgb(248, 248, 248) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.reviews__img-title {
  display: flex;
  justify-content: space-between;
}

.reviews__img-title h2 {
  font-size: 18px;
  padding-top: 20px;
  padding-left: 20px;
}

.reviews__img-title img {
  width: 100px;
  height: 100px;
  padding: 10px;
}

.reviews__title p {
  font-size: 16px;
  padding: 10px;
  height: 200px;
}

.reviews__title img {
  width: 100px;
  margin-left: 100px;

}

.promotion__block-content {
  margin-top: 100px;
}

.promotion__block-content-h1 {
  font-size: 40px;
  color: #fff;
}


.top__block {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.video-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  /* Ширина контейнера */

}

.video-cover {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4em;
  cursor: pointer;
  outline: none;
  transition: all .3s ease-in-out;
  border: none;
  background: none;
}

#myVideo {
  width: 100%;
  height: 450px;
  border-radius: 10px;
}


.top__master {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
}

.top__master-orange {
  width: 450px;
  height: 60px;
  border: 2px dashed #fe7519;
  border-radius: 10px;
}

.top__master-green {
  width: 450px;
  height: 60px;
  border: 2px dashed #6cc164;
  border-radius: 10px;
}

.top__master-yellow {
  width: 450px;
  height: 60px;
  border: 2px dashed #fcd659;
  border-radius: 10px;
}

.top__master-purple {
  width: 450px;
  height: 60px;
  border: 2px dashed #8071a8;
  border-radius: 10px;
}

.top__master-blue {
  width: 450px;
  height: 60px;
  border: 2px dashed #67d7e1;
  border-radius: 10px;
}

.top__master-orange-h1 {
  color: #fff;
  padding: 10px;
}

.top__master-green-h1 {
  color: #fff;
  padding: 10px;
}

.top__master-yellow-h1 {
  color: #fff;
  padding: 10px;
}

.top__master-purple-h1 {
  color: #fff;
  padding: 10px;
}

.top__master-blue-h1 {
  color: #fff;
  padding: 10px;
}





:root {
  --size-header: 2.25rem;
  --size-accordion-title: 1.25rem;
  --size-accordion-content: 1rem;
  --animation-speed: 100;
  --slide-ease: cubic-bezier(0.86, 0, 0.07, 1);
  --slide-duration: calc(400ms * 100 / var(--animation-speed));
  --slide-delay: calc(450ms * 100 / var(--animation-speed));
  --circle-duration: calc(900ms * 100 / var(--animation-speed));
}

*,
*::before,
*::after {
  position: relative;
  left: 0;
  top: 0;
  box-sizing: border-box;
}


.questions__block-h1 {
  font-size: 40px;
  color: #fff;
  margin-top: 100px;
  margin-bottom: 100px;

}

::selection {
  background-color: rgba(0, 0, 0, 0.4);
}

.accordion {
  --circle-x: 1.8rem;
  --circle-y: 0;
  --circle-r: 200%;
  color: #000;
  background-color: #FFE38E;
  margin-bottom: 1rem;
  border-radius: min(8px, 0.5rem);
  display: grid;
  grid-template-rows: 0fr 0fr;
  transition-timing-function: var(--slide-ease);
  transition-duration: 200ms, 200ms, var(--slide-duration);
  transition-property: opacity, box-shadow, grid-template-rows;
  transition-delay: 0ms, 0ms, var(--slide-delay);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  opacity: 0.9;
}

.accordion:not(:target):hover {
  box-shadow: 0 0 0 2px orange;
}

.accordion:not(:target):active {
  opacity: 1;
  box-shadow: 0 4px 7px 0 #fe7519;
}

.accordion,
.content {
  overflow: hidden;
}

.accordion:target {
  --d: 90deg;
  grid-template-rows: 0fr 1fr;
  transition: grid-template-rows var(--slide-ease) var(--slide-duration) var(--slide-delay);
}

.wrapper {
  padding-block: 0 1.05rem;
  padding-inline: 1.25rem;
}

.content {
  font-size: var(--size-accordion-content);
  line-height: 140%;
}

.content p {
  margin-bottom: 1rem;
}

.content a {
  color: currentColor;
  font-weight: 800;
  text-decoration: underline;
}

main :last-child,
.content :last-child {
  margin-bottom: 0;
}

.title a {
  padding: 1rem 1.25rem;
  font-size: var(--size-accordion-title);
  font-weight: 800;
  color: currentColor;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  place-items: center;
}

.title a::before {
  --chevron-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3C!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --%3E%3Cpath fill='white' d='M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z'/%3E%3C/svg%3E");
  content: "";
  left: 0;
  top: 0;
  width: 0.65rem;
  aspect-ratio: 320 / 512;
  display: inline-block;
  margin-right: 0.75rem;
  transform: rotate(var(--d, 0deg));
  transition: transform var(--slide-ease) var(--slide-duration) var(--slide-delay);
  mask-image: var(--chevron-icon);
  mask-size: 100% 100%;
  -webkit-mask-image: var(--chevron-icon);
  -webkit-mask-size: 100% 100%;
  background-color: currentColor;
}

.accordion::before,
.accordion::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--circle-bg);
  mix-blend-mode: difference;
  transform-style: preserve-3d;
  transition-timing-function: ease;
  transition-property: opacity, clip-path, visibility;
  pointer-events: none;
  clip-path: circle(var(--r) at var(--circle-x) var(--circle-y));
  border-radius: inherit;
  z-index: 4;
}

.accordion::before {
  --r: 0%;
  transition-delay: var(--circle-duration), var(--circle-duration), 0ms;
  transition-duration: 0ms, var(--circle-duration), 0ms;
  opacity: 0;
}

.accordion:target::before {
  --r: var(--circle-r);
  transition-delay: 0ms, 0ms, 0ms;
  transition-duration: 0ms, var(--circle-duration), 0ms;
  opacity: 1;
}

.accordion::after {
  --r: var(--circle-r);
  transition-delay: 0ms, 0ms, var(--circle-duration);
  transition-duration: 0ms, var(--circle-duration), 0ms;
  visibility: hidden;
  opacity: 1;
}

.accordion:target:after {
  --r: 0%;
  transition-delay: 0ms, 0ms, 0ms;
  transition-duration: 0ms, 0ms, 0ms;
  visibility: visible;
  opacity: 0;
}

.title a:focus-visible {
  background-color: hsl(0, 100%, 90%);
  outline: none;
}

.accordion:target .title a:focus-visible {
  background-color: hsl(183, 100%, 93%);
}